<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group" role="group" aria-label="<%= t('collections.actions') %>">
    <%= link_to_index(t("collections.buttons.index"), manage_collections_path) if policy(:collection).index? && (member_action? || create_actions?) %>
    <%= link_to_custom(t("collections.buttons.entries"), manage_collection_collection_entries_path(@collection), class: 'btn btn-secondary btn-action', icon: 'bi bi-view-list') if policy(:collection_entry).index? && member_action? %>
    <%= link_to_show(t("collections.buttons.show"), manage_collection_path(@collection)) if policy(:collection).show? && update_actions? %>
    <%= link_to_new(t("collections.buttons.new"), new_manage_collection_path) if policy(:collection).new? && (collection_action? || member_action?) %>
    <%= link_to_edit(t("collections.buttons.edit"), edit_manage_collection_path(@collection)) if policy(:collection).edit? && show_action? %>
    <%= link_to_delete(t("collections.buttons.destroy"), manage_collection_path(@collection), data: { confirm: t("collections.are_you_sure") }) if policy(:collection).destroy? && member_action? && !@collection.discarded? %>
    <%= link_to_restore(t("collections.buttons.restore"), restore_manage_collection_path(@collection)) if policy(:collection).restore? && member_action? && @collection.discarded? %>
  </div>
</div>
