<% content_for :section do %>
  <h1 class="h2"><%= t('pages.titles.index') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<% if @pages.present? %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= @pages.first.attribute_translate(:title) %></th>
          <th><%= @pages.first.attribute_translate(:slug) %></th>
          <th><%= @pages.first.attribute_translate(:published_at) %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'page', collection: @pages %>
      </tbody>
    </table>
  </div>

  <%= paginate @pages %>

<% else %>

  <p><%= t('pages.zero') %></p>

<% end %>
