<% content_for :section do %>
  <h1 class="h2"><%= t('pages.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<p>
  <strong><%= @page.attribute_translate(:title) %>:</strong>
  <%= @page.title %>
</p>

<p>
  <strong><%= @page.attribute_translate(:slug) %>:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong><%= @page.attribute_translate(:published_at) %>:</strong>
  <%= @page.published_at %>
</p>
