<%= simple_form_for [:manage, site], url: :manage_site, html: { autocomplete: 'false' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :subdomain, as: :subdomain %>

  <div class="row">
    <%= f.input :format_datetime, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :format_date, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :format_time, wrapper_html: { class: 'col-md-4' } %>
  </div>

  <div class="row">
    <%= f.input :format_js_datetime, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :format_js_date, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :format_js_time, wrapper_html: { class: 'col-md-4' } %>
  </div>

  <div class="row">
    <%= f.input :regenerate_auth_token_on_login, as: :boolean, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :regenerate_auth_token_on_logout, as: :boolean, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <div id="site_stores">
    <%= f.simple_fields_for :stores do |store| %>
      <%= render 'store_fields', f: store %>
    <% end %>

    <div class="links">
      <%= link_to_add_association(f, :stores) %>
    </div>
  </div>

  <%= f.button :submit, data: { disable_with: t('sites.submitting') } %>
<% end %>
