<% content_for :section do %>
  <h1 class="h2"><%= t('sites.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<%= show_for @site do |record| %>
  <%= record.attribute :name %>
  <%= record.attribute :subdomain %>
<% end %>
