<% content_for :section do %>
  <h1 class="h2"><%= t('collection_entries.titles.index') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<% if @collection_entries.present? %>

  <%- collection_fields = @collection.collection_fields -%>

  <div class="table-responsive">
    <table class="table">
      <tbody class="sortable-collection-entries <%= policy(:collection_entry).reposition? ? 'sortable-active' : 'sortable-inactive' %>">
        <% @collection_entries.each do |collection_entry| %>
          <tr class="item-collection-entry status-<%= collection_entry_status(collection_entry) %>" data-id="<%= collection_entry.id %>">
            <td>
              <% collection_fields.each do |field| %>
                <div class="collection-entry">
                  <span class="collection-entry-label"><strong><%= field.label %>: </strong></span>
                  <span class="collection-entry-value"><%= collection_entry_value(collection_entry, field.classification, field.key) %></span>
                </div>
              <% end %>
              <div class="collection-entry">
                <span class="collection-entry-label"><strong><%= @collection_entries.first.attribute_translate(:published_at) %>: </strong></span>
                <span class="collection-entry-value"><%= l(collection_entry.published_at, format: current_site.format_datetime, default: nil) %></span>
              </div>
            </td>
            <td class="actions">
              <%= link_to_show(t("collection_entries.buttons.show"), manage_collection_collection_entry_path(@collection, collection_entry)) if policy(:collection_entry).show? %>
              <%= link_to_edit(t("collection_entries.buttons.edit"), edit_manage_collection_collection_entry_path(@collection, collection_entry)) if policy(:collection_entry).edit? %>
              <%= link_to_delete(t("collection_entries.buttons.destroy"), manage_collection_collection_entry_path(@collection, collection_entry), method: :delete, data: { confirm: t("collection_entries.are_you_sure") }) if policy(:collection_entry).destroy? && !collection_entry.discarded? %>
              <%= link_to_restore(t("collection_entries.buttons.restore"), restore_manage_collection_collection_entry_path(@collection, collection_entry)) if policy(:collection_entry).restore? && collection_entry.discarded? %>
              <%= link_to_delete(t("collection_entries.buttons.really_destroy"), manage_collection_collection_entry_path(@collection, collection_entry), method: :delete, data: { confirm: t("collection_entries.are_you_very_sure") }) if policy(:collection_entry).destroy? && collection_entry.discarded? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @collection_entries %>

<% else %>

  <p><%= t('collection_entries.zero') %></p>

<% end %>
