<% content_for :section do %>
  <h1 class="h2"><%= t('collection_entries.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<%- fields = @collection.collection_fields -%>
<% fields.each do |field| %>
  <p>
    <strong><%= field.label %> (<%= field.key %>):</strong>
    <%= collection_entry_value(@collection_entry, field.classification, field.key) %>
  </p>
<% end %>

<p>
  <strong><%= @collection_entry.attribute_translate(:published_at) %>:</strong>
  <%= l(@collection_entry.published_at, format: current_site.format_datetime, default: nil) %>
</p>
