<% content_for :section do %>
  <h1 class="h2"><%= t('collection_entries.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<%= show_for @collection_entry do |record| %>
  <% @collection.collection_fields.each do |field| %>
    <%= record.attribute "#{field.label} (#{field.key})", if_blank: '' do %>
      <%= collection_entry_value(@collection_entry, field.classification, field.key) %>
    <% end %>
  <% end %>

  <%= record.attribute :published_at, format: current_site.format_datetime, if_blank: '' %>
<% end %>
