<%= simple_form_for [:manage, profile], as: :profile, url: :manage_profile, html: { autocomplete: 'false' } do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :first_name, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :last_name, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <%= f.input :username, as: :username %>
  <%= f.input :email, as: :email %>

  <div class="row">
    <%= f.input :password, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :password_confirmation, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <%= f.button :submit, data: { disable_with: t('profiles.submitting') } %>
<% end %>
