<%= simple_form_for [:manage, profile], as: :profile, url: :manage_profile, html: { autocomplete: 'false' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :email, as: :email %>

  <div class="form-row">
    <%= f.input :password, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :password_confirmation, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <%= f.button :submit %>
<% end %>
