<% content_for :section do %>
  <h1 class="h2"><%= t('profiles.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<%= show_for @profile do |record| %>
  <%= record.attribute :first_name %>
  <%= record.attribute :last_name %>
  <%= record.attribute :username %>
  <%= record.attribute :email %>
<% end %>
