<% content_for :section do %>
  <h1 class="h2"><%= t('profiles.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<%= show_for @profile do |record| %>
  <%= record.attribute :first_name %>
  <%= record.attribute :last_name %>
  <%= record.attribute :username %>
  <%= record.attribute :email %>

  <% if policy(:profile).retoken? %>
    <%= record.attribute :auth_token do |token| %>
      <%= token %> <%= link_to(t('profiles.buttons.retoken'), retoken_manage_profile_path, method: :post, data: { confirm: I18n.t('profiles.retoken.are_you_sure') }, class: 'btn btn-primary') %>
    <% end %>
  <% end %>
<% end %>
