<aside id="sidebar" class="d-sm-block collapse">
  <nav>
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to(t('layout.sidebar.dashboard'), manage_root_path, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to(t('layout.sidebar.contents'), manage_contents_path, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to(t('layout.sidebar.collections'), manage_collections_path, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to(t('layout.sidebar.users'), manage_users_path, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to(t('layout.sidebar.site'), manage_site_path, class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </nav>
</aside>
