<%= simple_form_for [:manage, user], html: { autocomplete: 'false' } do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :first_name, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :last_name, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <%= f.input :username %>
  <%= f.input :email, as: :email, disabled: f.object.persisted? %>

  <%= f.input :role, as: :role %>

  <%= f.button :submit, data: { disable_with: t('users.submitting') } %>
<% end %>
