<% content_for :section do %>
  <h1 class="h2"><%= t('users.titles.index') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<% if @users.present? %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('users.columns.name') %></th>
          <th><%= t('users.columns.username') %></th>
          <th><%= t('users.columns.email') %></th>
          <th class="actions"><%= t('users.columns.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'user', collection: @users %>
      </tbody>
    </table>
  </div>

  <%= paginate @users %>

<% else %>

  <p><%= t('users.zero') %></p>

<% end %>
