<%= simple_form_for [:manage, content], html: { autocomplete: 'false' } do |f| %>
  <%= f.input :name %>
  <%= f.input :slug, as: :slug %>
  <%= f.input :published_at %>

  <div id="stores">
    <%= f.simple_fields_for :stores do |store| %>
      <%= render 'store_fields', f: store %>
    <% end %>

    <div class="links">
      <%= link_to_add_association(f, :stores) %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>
