<% content_for :section do %>
  <h1 class="h2"><%= t('contents.titles.index') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<% if @contents.present? %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('contents.columns.title') %></th>
          <th><%= t('contents.columns.slug') %></th>
          <th><%= t('contents.columns.published_at') %></th>
          <th class="actions"><%= t('contents.columns.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'content', collection: @contents %>
      </tbody>
    </table>
  </div>

  <%= paginate @contents %>

<% else %>

  <p><%= t('contents.zero') %></p>

<% end %>
