<% content_for :section do %>
  <h1 class="h2"><%= t('contents.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<%= show_for @content do |record| %>
  <%= record.attribute :name %>
  <%= record.attribute :slug %>
  <%= record.attribute :published_at, format: current_site.format_datetime, if_blank: '' %>
<% end %>
