<% content_for :section do %>
  <h1 class="h2"><%= t('contents.titles.show') %></h1>

  <%= render partial: 'buttons' %>
<% end %>

<p>
  <strong><%= @content.attribute_translate(:name) %>:</strong>
  <%= @content.name %>
</p>

<p>
  <strong><%= @content.attribute_translate(:slug) %>:</strong>
  <%= @content.slug %>
</p>

<p>
  <strong><%= @content.attribute_translate(:published_at) %>:</strong>
  <%= l(@content.published_at, format: current_site.format_datetime, default: nil) %>
</p>
