<!doctype html>
<html dir="<%= html_dir %>" lang="<%= html_lang %>">
  <head>
    <title>Archangel Auth</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'auth', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'auth', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="text-center">
    <%= render 'layouts/shared/flash_messages' %>

    <main class="form-auth">
      <%= yield %>
    </main>
  </body>
</html>
