<!DOCTYPE html>
<html dir="<%= html_dir %>" lang="<%= html_lang %>">
  <head>
    <title>Archangel Manage</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'manage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'manage', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/manage/header" %>

    <div class="container-fluid">
      <div class="row">
        <%= render "layouts/manage/sidebar" %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <%= yield :section %>
          </div>

          <%= yield %>
        </main>

      </div>
    </div>

    <%= render "layouts/manage/footer" %>
  </body>
</html>
