<!DOCTYPE html>
<html dir="<%= html_dir %>" lang="<%= html_lang %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">

    <title>Archangel Manage</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'manage', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'manage', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <div class="turbo-progress-bar"></div>

    <%= render 'layouts/manage/header' %>

    <%= render 'layouts/manage/sidebar' %>

    <section id="section">
      <%= render 'layouts/shared/flash_messages' %>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <%= yield :section %>
      </div>

      <main id="main">
        <%= yield %>
      </main>

      <%= render 'layouts/manage/footer' %>
    </section>
  </body>
</html>
